@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url("../img/background.jpg");
    background-size: cover;
    font-family: 'Roboto',Arial,sans-serif;
}
a{
    color: #050505;
}


header{
    background-color:#FDFDFC;
    height: 80px;
}
header .btn:hover{
    background-color: #EEEEEE;
    color: black;

}

header img{
    max-width: 150px;
    max-height: 67px;
    margin-top: auto;
    margin-bottom: auto;
}
header .nav-link{
    margin-top: 25px;
    letter-spacing: 2px;
    margin-left: 20px;
}



.btn-nav-regis{
    width: 104px;
    background-color:rgb(123,187,208,60%);
    color: black;
    border-color: black;
    margin-right: 10px;
}
.btn-nav-login{
    width: 82px;
    background-color:rgb(123,187,208,60%);
    color: black;
    border-color: black;
    margin-right: 50px;
}
main p{
    letter-spacing: 1px;
    color: #050505;
    text-align: center;
}

main h1{
    letter-spacing: 2px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.news{
    height: 200px;
    background-color:rgb(123,187,208,60%);
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
}

.news img{
    max-width: 224px;
    max-height: 158px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;

}
.news h2{
    width: 800px;
    font-size: 25px;
    margin-top: 35px;
    color: #F6FAFC;
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-weight: bold;
}
.news h4{
    font-size: 15px;
    color: #F6FAFC;
    font-weight: bold;
}

footer{
    background-color: #2F2E2E;
}
footer img{
    max-width: 150px;
    max-height: 74px;
    margin-bottom: 1px;
}

footer p{
    text-align: center;
    color: #F6FAFC;
    font-size: 17px;
    margin-top: auto;
    margin-bottom: 10px;
}

.foot {
    margin-left: 40%;
}
.caro{
    margin-top: 50px;
    margin-bottom: 50px;
}
.carousel-item{
    max-height: 500px;
}
.carousel-item p{
    font-size: 20px;
    font-weight: bold;
}
#carouselExampleCaptions{
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
}

.unic{
    color: black;
}
.filter{
    width: 144px;
    background-color: #7BBBD0;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);

}
.filter h3{
    margin-bottom: 30px;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
}

.filter ul{
    list-style: none;
    font-size: 15px;
    margin-bottom: 50px;
}
.filter h4{
    margin-left: 15px;
    font-size: 19px;
}

.filter ul li{
    margin-bottom: 6px;
}


.ordenar{
    height: 50px;
    width: 59vw;
    margin-left: 70px;
    background-color: #7BBBD0;
    border-radius: 10px;
}
.ordernar-seletor{
    margin-left: 40px;
    margin-top: 13px;
    margin-right: 360px;
}
.ordenar .dropdown{
    margin-top: 7px;
}
.ordenar .dropdown .btn{
    background-color: #EEEEEE;
    color: black;
}
.produtos-pai{
    width: 59vw;
    margin-top: 40px;
    margin-bottom: 50px;
    max-height:1000px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


.produtos{
    background-color: #5D8E9E;
    margin-left: 30px;
    margin-right: 50px;
    width: 225px;
    height: 332px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
}

.produtos img{
    width: 161px;
    height: 173px;
    margin: 20px 33px 0 33px;
}
.descricao{
    font-size: 10px;
    text-align: center;
}


article{
    font-weight: bold;
    font-size: 10px;
}
article .left{
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 30px;
}
article .right{
    margin-top: 0px;
    font-size: 15px;
}

.produtos .titulo{
    font-weight: bold;
    font-size: 16px;
}

.produtos .btn{
    background-color: #DBD5B6;
    color: black;
    width: 185px;
    height: 30px;
    font-size: 13px;
    text-align: start;
    margin-left: 20px;
    margin-top: 20px;
    border: #DBD5B6;
}
.produtos1{
    background-color: #7BBCD1;
    margin-left: 30px;
    margin-right: 50px;
    width: 225px;
    height: 332px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);

}

.produtos1 img{
    width: 161px;
    height: 173px;
    margin: 20px 33px 0 33px;
}

.produtos1 .titulo{
    font-weight: bold;
    font-size: 16px;
}

.produtos1 .btn{
    background-color: #DBD5B6;
    color: black;
    width: 185px;
    height: 30px;
    font-size: 13px;
    text-align: start;
    margin-left: 20px;
    margin-bottom: 10px;
    border: #DBD5B6;
}

@media (max-width: 600px){
    .navbar-collapse{
        background-color: #2F2E2E;
    }
    .navbar-collapse a{
        color: #F6FAFC;
    }
}

@media (max-width: 400px){
    .news{
        height: 100%;
        background-color:rgb(123,187,208,60%);
        margin-bottom: 50px;
    }
    
    .news img{
        max-width: 224px;
        max-height: 158px;
        margin-left: 100px;
        margin-top: 30px;
    }

    .news h2{
        margin-left: 20px;
        text-align: justify;
        font-size: 18px;
        width: 340px;
    }
    .news h4{
        margin-left: 20px;
        font-size: 14px;
        width: 340px;
    }
    footer img{
        max-width: 130px;
        max-height: 74px;
        margin-bottom: 1px;
    }
    
    footer p{
        text-align: center;
        color: #F6FAFC;
        font-size: 17px;
        margin-top: auto;
        margin-bottom: 10px;
    }
    
    .foot {
        margin-left: 10%;
    }
}
