@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
body{
    margin: 0;
    padding: 0;
    background-image: url("../img/background.jpg");
    background-size: cover;
    font-family: 'Roboto',Arial,sans-serif;
    
}
a{
    color: #050505;
}



header{
    background-color:#FDFDFC;
    height: 80px;
}
header .btn:hover{
    background-color: #EEEEEE;
    color: black;

}

header img{
    max-width: 150px;
    max-height: 67px;
    margin-top: auto;
    margin-bottom: auto;
}
header .nav-link{
    margin-top: 25px;
    letter-spacing: 2px;
    margin-left: 20px;
}



.btn-nav-regis{
    width: 104px;
    background-color:rgb(123,187,208,60%);
    color: black;
    border-color: black;
    margin-right: 10px;
}
.btn-nav-login{
    width: 82px;
    background-color:rgb(123,187,208,60%);
    color: black;
    border-color: black;
    margin-right: 50px;
}
footer{
    background-color: #2F2E2E;
}
footer img{
    max-width: 150px;
    max-height: 74px;
    margin-bottom: 1px;
}

footer p{
    text-align: center;
    color: #F6FAFC;
    font-size: 17px;
    margin-top: auto;
    margin-bottom: 10px;
}

.foot p{
    margin-left: 40%;
}
.carousel-item{
    max-height: 600px;
    border-radius: 10px;

}
#carouselExampleCaptions{
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;

}
.esq{
    background-color: rgb(123,187,208,60%);
    margin-bottom: 50px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
    width: 800px;
    height: 430px;
}
.esq img{
    max-width: 300px;
    max-height: 300px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.esq h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #F6FAFC;
    margin-top: 40px;
    letter-spacing: 1px;
}
.esq p{
    font-size: 17px;
    max-width: 300px;
    color: #F6FAFC;
    letter-spacing: 1px;
    text-align: justify;
}
.dir{
    background-color: rgb(123,187,208,60%);
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.2);
    max-height: 700px;
    border-radius: 10px;
    width: 270px;
    text-align: center;
    margin-bottom: 50px;
}
.dir h2{
    font-size: 20px;
    font-weight: bold;
    color: #F6FAFC;
    margin-top: 30px;
}
.dir ul{
    padding-left: 0;
    list-style: none;
    display: inline;
}

.dir ul li p{
    margin-left: 30px;
    font-size: 15px;
    text-align: justify;
    color: #F6FAFC;
    max-width: 200px;
    margin-bottom: 20px;
}
.dir ul li{
    display: inline;
}
.dir ul li img{
    margin-left: 20px;
    max-width: 100px;
    max-height: 130px;
}
@media (max-width: 600px){
    .navbar-collapse{
        background-color: #2F2E2E;
    }
    .navbar-collapse a{
        color: #F6FAFC;
    }
}

@media (max-width: 400px){
    .news{
        height: 100%;
        background-color:rgb(123,187,208,60%);
        margin-bottom: 50px;
    }
    
    .news img{
        max-width: 224px;
        max-height: 158px;
        margin-left: 100px;
        margin-top: 30px;
    }

    .news h2{
        margin-left: 20px;
        text-align: justify;
        font-size: 18px;
        width: 340px;
    }
    .news h4{
        margin-left: 20px;
        font-size: 14px;
        width: 340px;
    }
    footer img{
        max-width: 130px;
        max-height: 74px;
        margin-bottom: 1px;
    }
    
    footer p{
        text-align: center;
        color: #F6FAFC;
        font-size: 17px;
        margin-top: auto;
        margin-bottom: 10px;
    }
    
    .foot {
        margin-left: 10%;
    }


}
@media (max-width: 768px){

    .navbar-collapse{
        z-index: 2;
        background-color: #2F2E2E;
    }
    .navbar-collapse a{
        color: #F6FAFC;
    }
}

@media (max-width: 375px){
    .esq img{
    max-width: 133px;
    max-height: 300px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;

    }
    .esq p{
        font-size: 13px;
        max-width: 300px;
        color: #F6FAFC;
        letter-spacing: 1px;
        text-align: justify;
        margin-left: -37px;
        word-wrap: break-word;
    }
   .left-container div{
       margin-left: 20px;

   }
    div .row{
       margin-left: 7px;
   }
    
}