<footer class="container">
    <div class="foot">
    
        <p>Learning - copyright </p>
        <img src="/images/logo.png" alt="Logo">
    </div>
    



</footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>