<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <a href="/"><img src="/img/Learning map-logo - black.png" alt="Logo"></a>
            
            <button class="navbar-toggler navbar-dark bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/noticia">Notícias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ecomerce">Loja Virtual</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mapa">Mapa</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0 btn-pai">
                <% if(typeof usuario === 'undefined') {%>
                  <a href="/registro"><button class="btn btn-outline-success my-2 my-sm-0 btn-nav-regis" type="button">Registar</button></a>
                  <a href="/login"><button class="btn btn-outline-success my-2 my-sm-0 btn-nav-login" type="button">Login</button></a>
                <% }else { %>
                  <p><%= usuario.nome %></p>
                <% } %>
              </form>
            </div>
          </nav>        
    </header>