<%- include('./partials/header') %>

<%- include('./partials/carrocel') %>


<main class="container equipe">
  
  <div class="about shadow p-3 mb-5 rounded">
      <img src="/images/about.svg" alt="A equipe">
      <div class="text">
      <h2>Sobre a equipe</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid esse possimus magni accusamus cumque numquam rem ut odit natus laboriosam. Est totam suscipit assumenda maxime fuga quibusdam iusto aliquam quas? Voluptates, quo. Nam eveniet voluptates atque illo deleniti fugit dicta ratione illum ut tempore minima animi, repellendus quam nisi provident?</p>
    </div>
</div>

<div class="noticias-mais-lidas shadow p-3 mb-5 rounded">
  <h2>Notícias mais lidas</h2>
</div>


</main>

  
<%- include('./partials/footer') %>
