<%- include('./partials/header') %>

<main class="container">
    <div class="flut">
        <div class="box-login mx-auto shadow p-3 mb-5 rounded">
            
            <form action="#" method="POST">
            <h3>login</h3>
            <div class="marg">
            <label for="usuario">Usuário:</label>
            
            <input type="text" name="usuario" id="usuario">
            
            <label for="usuario">Senha:</label>
            
            <input type="text" name="senha" id="senha">
            <div class="btn-login">
            <button class="btn btn-primary" type="submit">Entrar</button>
            <a href="http://">Esqueci a senha</a>
        </div>
        </form>
    </div>
</div>
        </div>
    </div>
</main>

<%- include('./partials/footer') %>