<%- include('./partials/header') %>


    <main>

        
        <h1 class="new" id="listaDeNoticias">Notícias</h1>
        
        

        <!-- <p class="pg-new"><a href="#"> < Pagina anterior </a>, <a href="#">Proxima pagina ></a></Pagina></p> -->
        
    </main>
    <%- include('./partials/footer') %>
