<%- include('./partials/header') %>

<main class="container">
    <div class="new">
        <h2>Notícias</h2>
    </div>
    <div class="news shadow-lg p-3 mb-5 rounded">
        <div class="info">
            <div class="row">
                <a href="https://vestibular.uol.com.br/resumo-das-disciplinas/atualidades/clarice-lispector---100-anos-do-nascimento-da-escritora.htm">
                    <img src="https://conteudo.imguol.com.br/c/entretenimento/00/2019/11/21/uma-das-fotos-de-clarice-lispector-que-serao-usadas-nas-novas-edicoes-1574346604479_v2_300x225.jpg" alt="Noticias">
                </a>
            <div>
                <a href="https://vestibular.uol.com.br/resumo-das-disciplinas/atualidades/clarice-lispector---100-anos-do-nascimento-da-escritora.htm">
                    <h3>Clarice Lispector  - 100 anos do nascimento da escritora  </h3>
                </a>
                    <time> 01/03/2020 04h00</time>
            </div>
            </div>
        </div>
    </div>

    <div class="news shadow-lg p-3 mb-5 rounded">
        <div class="info">
            <div class="row">
                <a href="https://vestibular.uol.com.br/resumo-das-disciplinas/atualidades/clarice-lispector---100-anos-do-nascimento-da-escritora.htm">
                    <img src="https://conteudo.imguol.com.br/c/entretenimento/00/2019/11/21/uma-das-fotos-de-clarice-lispector-que-serao-usadas-nas-novas-edicoes-1574346604479_v2_300x225.jpg" alt="Noticias">
                </a>
            <div>
                <a href="https://vestibular.uol.com.br/resumo-das-disciplinas/atualidades/clarice-lispector---100-anos-do-nascimento-da-escritora.htm">
                    <h3>Clarice Lispector  - 100 anos do nascimento da escritora  </h3>
                </a>
                    <time> 01/03/2020 04h00</time>
            </div>
            </div>
        </div>
    </div>

</main>

<%- include('./partials/footer') %>
