body{
    background-color: #F0F0F2;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #B4CBD9;
    margin-bottom: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


nav img{
    height: 65px;
    width: 120px;
}
#color-link{
    color: gray;
    letter-spacing: 2px;
}
#btn-nav{
    background-color: #D5E5F2;
    color: gray;
    letter-spacing: 1px;
    
}

.carousel-item img{
    max-height: 85vh;
}
.equipe{
    display: flex;
    margin-bottom: 50px;
}

.about{
    margin-top: 50px;
    display: flex;
    background-color: #D5E5F2;
    width: 750px;
    height: 430px;
    border-radius: 10px;
}

.about img{
    margin: 30px;
    max-width: 300px;
    max-height: 300px;
}
.text{
    margin: 30px;
    color: grey;
}
.text h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.text p{
    letter-spacing: 1px;
    padding-top: 15px;
    font-size: 17px;
    text-align: justify;
}

.noticias-mais-lidas{
    width: 310px;
    margin-top: 50px;
    margin-left: 50px;
    background-color: #D5E5F2;
    color: gray;
    height: 430px;
    border-radius: 10px;
}

.noticias-mais-lidas h2{
    margin: 20px;
    text-align: center;
    text-transform: uppercase;
    color: gray;
    font-size: 22px;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

footer{
    background-color: #B4CBD9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
       
}
footer p{
    font-size: 15;
    letter-spacing: 1px;
    color: gray;
    text-align: center;
    margin: 15px 15px 0;
   
}

footer img{
    max-height: 65px;
    max-width: 120px;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background:gray;
  height: 1px;
}

nav.stroke ul li a:hover:after{
    width: 100%;
  }

  #btn-nav:hover {
      background-color: #79a197;
      color: #ecffde;
  }
  .new{
    margin-top: 50px;
    margin-bottom: 50px;
}

  .news{
      margin-top: 20px;
      background-color: #D5E5F2;
      height: 200px;
      border-radius: 10px;
      
  }
  .info{
      padding: 0px;
      margin-left: 20px;
      
  }

  .new h2{
      text-transform: uppercase;
      text-align: center;
      color: gray;
      letter-spacing: 2px;
  }

  .news img{
      max-width: 224px;
      max-height: 168px;
  }

  .news h3{
      margin-top: 10px;
      margin-left: 30px;
      font-size: 25px;
      color: gray;
  }

  .news time{
    margin-left: 30px;
      font-size: 17px;
      color: lightgray;
  }

  .news a:hover{
      color: gray;
  }

  .login{
      width: 100vw;
      height: 100vh;
  }
  .flut{
      height: 71vh;
  }

  .box-login{
      width: 350px;
      height: 400px;
      background-color: #B4CBD9;
      margin: 70px;
      color: gray;
      
      
  }

  .box-login h3{
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
  }
  .box-login label{
      display: grid;
  }
  .box-login input{
      width: 250px;
      height: 30px;
      margin-bottom: 15px;
      border: solid #d2bba0 2px;
      border-radius: 5px;
  }
  
 .btn-login{
     margin-top: 50px;
     margin-left: 20px;
 }

 .btn-login a{
     font-size: 17px;
     letter-spacing: 1px;
     margin-left: 20px;
     color: gray;
 }
 .btn-login a:hover{
    color: #EAF2DC;
}

.btn-login button{
    color: gray;
    background-color: #D5E5F2;
    border: gray 1px solid;
}
.btn-login button:hover{
    color: gray;
    background-color: #F0F0F2;
    border: gray 1px solid;
}

  .marg{
      margin-left: 15px;
}



  



